$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fonts
$primary-font: 'Big Shoulders Display', sans-serif;
$secondary-font: 'Outfit', sans-serif;

//Colors
$brown: rgba(213, 150, 108, 1);
$black: rgba(21, 21, 21, 1);
$gray: rgba(68, 68, 68, 1);
$white: rgba(255, 255, 255, 1);